In [1]:
import pandas
pandas.set_option('display.max_columns', 20)
pandas.set_option('display.width', 350)
data_mobile=pandas.read_csv("query_two_mobile.csv")
data_web=pandas.read_csv("query_two_web.csv")

print(data_mobile.head())
print(data_web.head())

   user_id           page
0      128  page_5_mobile
1     1324  page_2_mobile
2     1343  page_6_mobile
3      930  page_3_mobile
4     1008  page_6_mobile
   user_id        page
0     1210  page_1_web
1     1275  page_1_web
2     1283  page_4_web
3     1163  page_4_web
4       96  page_2_web

In [15]:
data_full= data_mobile.merge(data_web, left_on='user_id', right_on='user_id')
print(data_full[data_full['user_id']==4])

      user_id         page_x      page_y
1496        4  page_2_mobile  page_5_web
1497        4  page_2_mobile  page_6_web

In [12]:
t1=data_full.groupby('user_id')['page_x'].nunique().to_frame()
t2=data_full.groupby('user_id')['page_y'].nunique().to_frame()
data_user=t1.merge(t2, left_on='user_id', right_on='user_id')
print(data_user)

         page_x  page_y
user_id
1             2       1
4             1       2
5             1       1
9             2       1
13            1       2
...         ...     ...
1988          1       1
1989          4       1
1992          2       1
1998          4       1
2000          1       1

[962 rows x 2 columns]

In [26]:
def set_label(x):
    s=''
    if int(x[1])==0 and int(x[2])>0: 
        s='Web only'
    elif int(x[1])>0 and int(x[2])==0:
        s='mobile only'
    else:
        s='None'
    return s

In [30]:
for x in data_user:
    print(x)

page_x
page_y
label

In [18]:
print(data_user)

         page_x  page_y                                      label
user_id
1             2       1  <function <lambda> at 0x000002223B444798>
4             1       2  <function <lambda> at 0x000002223B444798>
5             1       1  <function <lambda> at 0x000002223B444798>
9             2       1  <function <lambda> at 0x000002223B444798>
13            1       2  <function <lambda> at 0x000002223B444798>
...         ...     ...                                        ...
1988          1       1  <function <lambda> at 0x000002223B444798>
1989          4       1  <function <lambda> at 0x000002223B444798>
1992          2       1  <function <lambda> at 0x000002223B444798>
1998          4       1  <function <lambda> at 0x000002223B444798>
2000          1       1  <function <lambda> at 0x000002223B444798>

[962 rows x 3 columns]